<div class="container">
        <h1>SBI</h1><br>
        <h3>{{aim}}</h3>
        <div class="row">
            <div class="col-4"></div>
            <div class="col-4">


                <input type="text" id="accno" [value]="acno" #accno placeholder="enter account number">
                <input type="text" name="" id="uname" placeholder="enter username">
                <input type="text" id="pwd" [value]="pswd" #pwd placeholder="enter password">
                <br>
                <button class="btn btn-success" (click)="login(accno,pwd)">login</button>


        </div>
        <div class="col-4"></div>
    </div>
</div>