<body>

    <div class="container">

        <img src="C:\Users\Ashish\Desktop\angular\BankApp\src\assets\unnamed.jpg"alt="image">
        <h1>SBI</h1><br>
        <h3>{{aim}}</h3>
        <div class="row">
            <div class="col-4"></div>
            <div class="col-4">
                <div class="bank">

                    <input type="text" class="one" id="accno" [(ngModel)]="acno" placeholder="enter account number">
                    <br><br>
                    <input type="text" class="two" id="pwd"[(ngModel)]="pwd" placeholder="enter password">
                    <br><br>
                    <button class="btn btn-success" (click)="login()">login</button>
                </div>


            </div>
            <div class="col-4"></div>
        </div>
    </div>
</body>