<div class="container">
    <h1><b><u>Welcome User</u></b></h1>
    <div class="row">


        <div class="col-4"></div>
        <div class="col-4">
            <div class="main">
                <form action="#">
                    <h2>Deposit Form</h2>
                    <form [formGroup]="depositform"(ngSubmit)="Deposit()">

                        <input id="accno" type="text" class="text" name="accno"formControlName="acno"
                            placeholder="enter the account number"><br><br>
                        <div *ngIf="(depositform.get('acno')?.touched || depositform.get('acno')?.dirty) && depositform.get('acno')?.errors"
                            class="errors"> invalid account number</div>
                        <input id="pswd" type="password" class="text" name="pwd"formControlName="pwd"><br>
                        <div *ngIf="(depositform.get('pwd')?.touched || depositform.get('pwd')?.dirty) && depositform.get('pwd')?.errors"
                            class="errors">invalid password</div><br>
                        <input id="amns" type="text" class="text" placeholder="amount" name="Amount"
                            formControlName="amount"><br><br>
                        <div *ngIf="(depositform.get('amount')?.touched || depositform.get('amount')?.dirty) && depositform.get('amount')?.errors"
                            class="errors">amount required</div>
                        <input type="submit" class="btn btn-success" value="Deposit">
                    </form>
                </form>
            </div>
        </div>
        <div class="col-4"></div>

    </div>
</div>

<div class="container">
    <div class="row">


        <div class="col-4"></div>
        <div class="col-4">
            <div class="main">
                <form action="#">
                    <h2>Withdraw Form</h2>
                    <form [formGroup]="withdrawform"  (ngSubmit)="Withdraw()">

                        <input id="accno" type="text" class="text" formControlName="acno"
                            placeholder="enter the account number"><br><br>
                        <div *ngIf="(withdrawform.get('acno')?.touched || withdrawform.get('acno')?.dirty) && withdrawform.get('acno')?.errors"
                            class="errors"> invalid account number</div>
                        <input id="pswd" type="password" class="text" name="pwd" formControlName="pwd"><br>
                        <div *ngIf="(withdrawform.get('pwd')?.touched || withdrawform.get('pwd')?.dirty) && withdrawform.get('pwd')?.errors"
                            class="errors">invalid password</div><br>
                        <input id="amnd" type="text" class="text" placeholder="amount" name="amount"
                            formControlName="amount"><br><br>
                        <div *ngIf="(withdrawform.get('amount')?.touched || withdrawform.get('amount')?.dirty) && withdrawform.get('amount')?.errors"
                            class="errors">amount required</div>
                        <input type="submit" class="btn btn-warning" value="Withdraw">
                    </form>
                </form>
            </div>
        </div>
        <div class="col-4"></div>

    </div>




    
</div>