/* You can add global styles to this file, and also import other style files */
body{
    background-color: bisque;

}
h1,h3{
    text-align: center;
}
.bank{
    background-color:rgb(238, 185, 105);
    text-align: center;
}
.one{
    background-color: rgb(190, 145, 93);
    
}
.two{
    background-color: rgb(190, 145, 93);
}
    
    
