<body>

    <div class="container">


        <h1>SBI</h1><br>
        <h3>Registration Form</h3>
        <div class="row">

            <div class="col-4"></div>
            <div class="col-4">
                <div class="bank">
                    <form (ngSubmit)="register()">
                    <!-- <img src="assets\images\sbi.jpg"><br> -->
                    <input type="text" class="two"name="accno" id="accno" [(ngModel)]="acno" placeholder="enter account number">
                    <br><br>
                    <input type="text" class="three"name="uname" value="username"[(ngModel)]="uname" placeholder="enter your username"><br><br>

                    <input type="password" class="two"name="pswd" id="pwd" [(ngModel)]="pwd" placeholder="enter password">
                    <br><br>

                    <button type="submit" class="btn btn-warning">Register</button><br><br>

                    <a routerLink="">log In</a>
                    </form>
                </div>



            </div>
            <div class="col-4"></div>
        </div>
    </div>

</body>

