<body>

    <div class="container">


        <h1>SBI</h1><br>
        <h3>Registration Form</h3>
        <div class="row">

            <div class="col-4"></div>
            <div class="col-4">
                <div class="bank">
                    <!-- <img src="assets\images\sbi.jpg"><br> -->
                    <input type="text" class="two" id="accno" [(ngModel)]="acno" placeholder="enter account number">
                    <br><br>
                    <input type="text" class="three" value="username"[(ngModel)]="uname" placeholder="enter your username"><br><br>

                    <input type="text" class="two" id="pwd" [(ngModel)]="pwd" placeholder="enter password">
                    <br><br>

                    <button class="btn btn-warning" (click)="register()">Register</button>
                </div>



            </div>
            <div class="col-4"></div>
        </div>
    </div>
</body>

